{% extends 'droame/base.html' %}

{% block title %}
  Add Customer
{% endblock title %}

{% block content %}
<div class="conatiner-fluid px-4">
    <br>
    <h1 class="mt-4">
        <i class="fa fa-users" aria-hidden="true"></i>
        Add Customer</h1>
    <br>
    <div class="content">
        <div class="block">
            <div class="block-content">
                <div class="row justify-content-start py-20">
                    <div class="col-xl-6">
                    </hr>
                        <br>
                        {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">{{ message }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    <form class="js-validation-bootstrap" action="{% url 'add-customer' %}" method="post">
                        {% csrf_token %}
                        <br>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Name</label>
                            <div class="col-lg-8">
                                <input type="text" value="{% if saverecord.name %}{{saverecord.name}}{% endif %}" class="form-control" id="val-name" name="name" placeholder="Name" >
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Email</label>
                            <div class="col-lg-8">
                                <input type="email" value="{% if saverecord.email %}{{saverecord.email}}{% endif %}" class="form-control" id="val-email" name="email" placeholder="Email" >
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Mobile Number</label>
                            <div class="col-lg-8">
                                <input type="text" value="{% if saverecord.mobileNo %}{{saverecord.mobileNo}}{% endif %}" class="form-control" id="val-mobno" name="mobileNo" placeholder="Mobile Number" >
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Address</label>
                            <div class="col-lg-8">
                                <input type="text" value="{% if saverecord.address %}{{saverecord.address}}{% endif %}" class="form-control" id="val-address" name="address" placeholder="Address" >
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Pincode</label>
                            <div class="col-lg-8">
                                <input type="text" value="{% if saverecord.pincode %}{{saverecord.pincode}}{% endif %}" class="form-control" id="val-pin" name="pincode" placeholder="Pincode" >
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Aadhaar Number</label>
                            <div class="col-lg-8">
                                <input type="text" value="{% if saverecord.aadhaarNo %}{{saverecord.aadhaarNo}}{% endif %}" class="form-control" id="val-adno" name="aadhaarNo" placeholder="Aadhaar Number" >
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Added By</label>
                                <div class="col-lg-8">
                                    <select name="addedBy" id="val-addedby">
                                        <option value="{% if saverecord.addedBy %}{{ saverecord.addedBy }}{% endif %}" selected>{% if saverecord %}{{ saverecord.addedBy }}{% else %}Choose{% endif %}</option>
                                        {% for operator in operators %}
                                        <option>{{operator.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        <br>
                        <button type="submit"class="btn btn-success" value="Submit" style="margin: 1rem;">
                            <i class="fas fa-save"></i>
                            <a>Save</a>
                        </button>

                        <button class="btn btn-danger" style="margin: 1rem;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <a href="{% url 'customers' %}" style="color: azure;">Cancel</a>
                        </button>
                    </form>
                    </hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}