{% extends 'droame/base.html' %}

{% block title %}
  Add Customer
{% endblock title %}

{% block content %}
<div class="conatiner-fluid px-4">
    <br>
    <h1 class="mt-4">
        <i class="fa fa-users" aria-hidden="true"></i>
        Add Customer</h1>
    <br>
    <div class="content">
        <div class="block">
            <div class="block-content">
                <div class="row justify-content-start py-20">
                    <div class="col-xl-6">
                    </hr>
                        <br>
                        {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">{{ message }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    <form class="js-validation-bootstrap" action="../editDroneShot/{{droneshot.id}}" method="post">
                        {% csrf_token %}
                        <br>
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Type</label>
                            <div class="col-lg-8">
                                <input type="text" value="{% if droneshot.type %}{{droneshot.type}}{% endif %}" class="form-control" id="val-name" name="type" placeholder="Type" >
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Added By</label>
                                <div class="col-lg-8">
                                    <select name="addedBy" id="val-addedby">
                                        <option value="{% if droneshot.addedBy %}{{ droneshot.addedBy }}{% endif %}" selected>{% if droneshot %}{{ droneshot.addedBy }}{% else %}Choose{% endif %}</option>
                                        {% for operator in operators %}
                                        <option>{{operator.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        <br>
                        <button type="submit"class="btn btn-success" value="Submit" style="margin: 1rem;">
                            <i class="fas fa-save"></i>
                            <a>Save</a>
                        </button>

                        <button class="btn btn-danger" style="margin: 1rem;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <a href="{% url 'droneshots' %}" style="color: azure;">Cancel</a>
                        </button>
                    </form>
                    </hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}